@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Italiana&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.preto-e-branco {
  filter: grayscale(100%);
}

html {
  scroll-behavior: smooth;
}

main {
  padding-top: 80px; 
}